body {
  height: 100%; }

html {
  height: 100%;
  max-width: 100%; }

.global-wrapper {
  height: 100%;
  background-color: grey;
  max-width: 100%;
  overflow-x: hidden; }

.wrapper {
  min-height: 100%;
  position: relative; }

#container-bouton-demarrage {
  margin-top: 50vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#bouton-demarrage {
  font-size: 30px;
  height: 100px;
  width: 100%;
  background-color: #c2242a;
  border-color: #c2242a;
  margin-left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

#div-top {
  position: absolute;
  top: 0%;
  background-color: #c2242a;
  height: 0;
  width: 100%; }

#div-bottom {
  position: absolute;
  background-color: #c2242a;
  bottom: 0%;
  height: 0;
  width: 100%; }

.btn:focus {
  outline: none !important; }

.btn:active {
  outline: none !important; }
